{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
      "file-loader",
      ["@babel/transform-runtime"]
      // ["transform-runtime", {
      //   "regenerator": true
      // }]
    ]
  }